* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

/* NAVIGATION */
header {
    background: white;
    padding: 15px 10%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

img {
    height: 400px;
    width: 400px;
    border-radius: 400px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

/* HERO */
.hero {
    height: 80vh;
    background: url('../images/bg.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text span {
    color: #ff4d6d;
}

.about-content span {
    color: #ff4d6d;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff4d6d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* ABOUT */
.about {
    padding: 70px 10%;
    background: white;
}

.about-content {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about img {
    width: 250px;
    border-radius: 10px;
}

/* SKILLS */
.skills {
    padding: 70px 10%;
    text-align: center;
}

.skill-box span {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #ffccd5;
    border-radius: 20px;
    font-weight: bold;
}

/* PROJECTS */
.projects {
    padding: 70px 10%;
    background: white;
}

.project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    width: 30%;
    background: #ffe5ec;
    padding: 20px;
    border-radius: 10px;
}

.project-card h3 {
    margin-bottom: 10px;
}

/* CONTACT */
.contact {
    padding: 70px 10%;
    text-align: center;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
}
